<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iannounce" />
                <binding name="BasicHttpsBinding_Iannounce">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pks.tai-one.com/PKWS/announce.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iannounce"
                contract="PKServiceReference.Iannounce" name="BasicHttpBinding_Iannounce" />
        </client>
    </system.serviceModel>
</configuration>